# Dependencies
node_modules
.pnp
.pnp.js

# Production
build
dist
out
.next

# Testing
coverage

# Misc
.DS_Store
*.pem
*.log

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# TigerBeetle
*.tigerbeetle
.tigerbeetle/